<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hatchtact.pinwi"
    android:versionCode="42"
    android:versionName="2.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

  
    <uses-permission android:name="com.android.launcher.action.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- for Samsung -->
    <uses-permission android:name="com.sec.android.provider.badge.permission.READ" />
    <uses-permission android:name="com.sec.android.provider.badge.permission.WRITE" />

    <!-- for htc -->
    <uses-permission android:name="com.htc.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.htc.launcher.permission.UPDATE_SHORTCUT" />

    <!-- for sony -->
    <uses-permission android:name="com.sonyericsson.home.permission.BROADCAST_BADGE" />
    <uses-permission android:name="com.sonymobile.home.permission.PROVIDER_INSERT_BADGE" />

    <!-- for apex -->
    <uses-permission android:name="com.anddoes.launcher.permission.UPDATE_COUNT" />

    <!-- for solid -->
    <uses-permission android:name="com.majeur.launcher.permission.UPDATE_BADGE" />

    <!-- for huawei -->
    <uses-permission android:name="com.huawei.android.launcher.permission.CHANGE_BADGE" />
    <uses-permission android:name="com.huawei.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.huawei.android.launcher.permission.WRITE_SETTINGS" />

    <!-- for ZUK -->
    <uses-permission android:name="android.permission.READ_APP_BADGE" />

    <!-- for OPPO -->
    <uses-permission android:name="com.oppo.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.oppo.launcher.permission.WRITE_SETTINGS" />
    <!-- VERY IMPORTANT! Don't forget this permission, or in-app billing won't work. -->
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <!-- Required for GCM -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.hatchtact.pinwi.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.hatchtact.pinwi.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- Requires OpenGL ES version 2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".PinWiApplication"
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:screenOrientation="portrait"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.hatchtact.pinwi.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.hatchtact.pinwi.calendar.CalendarProvider"
            android:authorities="com.hatchtact.pinwi.calendar.calendarprovider" />

        <activity
            android:name="com.hatchtact.pinwi.SignUpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.LoginActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.ParentRegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.hatchtact.pinwi.ConfirmationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.hatchtact.pinwi.ChildRegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBar" />
        <activity
            android:name="com.hatchtact.pinwi.AllyRegistrationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.GetStartedActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.ChildListFreeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.WebContainerFreeAppActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.AccessProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.PasswordUnLockActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.PasswordUnLockActivityChild"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.AddPasscordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.ParentProfileInformationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.TabChildActivities"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />

        <activity
            android:name="com.hatchtact.pinwi.ActivityAboutUS"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.ActivitySupport"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.ActivityTutorial"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.TutorialPageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildSetStarRatingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildStarEarnedPointActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.hatchtact.pinwi.child.ChildMainDashboardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildPendingPointActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildBuddiesActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildBuddiesDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildBuddiesListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildWishListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildWishListDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildAlertActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.postcard.ChildPostcardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.postcard.ChildPostcardDetailingTextActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name="com.hatchtact.pinwi.child.postcard.ChildPostcardDetailingImageActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.postcard.ChildPostcardDetailingAudioActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.playwall.ChildPlayWallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.playwall.ChildEmoticonDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.playwall.ChildPlayWallDetailActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.child.ChildTutorialActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.ActivityInvite"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.TakePicture"
            android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen" />
        <activity
            android:name="com.hatchtact.pinwi.SettingsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.ChildListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.AllyListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.fragment.network.ZoomScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name="com.hatchtact.pinwi.ForgotPasswordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.ForgotPasswordActivityForCode"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.ExitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.hatchtact.pinwi.UpdatePasswordActivity"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="com.hatchtact.pinwi.utility.FutureNotificationAlarmForMe" />

        <!-- GCM -->
        <receiver
            android:name="com.hatchtact.pinwi.gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.hatchtact.pinwi" />
            </intent-filter>
        </receiver>

        <service android:name="com.hatchtact.pinwi.gcm.GCMNotificationIntentService" />
        <!-- GCM -->

        <activity
            android:name="com.facebook.FacebookActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1012558875423383"
            android:exported="true" />

        <service
            android:name="com.hatchtact.pinwi.OnClearFromService"
            android:stopWithTask="false" />

        <activity
            android:name="com.hatchtact.pinwi.GuideSlideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomTranslucent" />
        <activity
            android:name="com.hatchtact.pinwi.NotificationDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.CustomTranslucent" />
        <activity
            android:name="com.hatchtact.pinwi.InAppPurchaseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light"
            />
        <activity
            android:name="com.hatchtact.pinwi.WhyAmIDoingThisActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <meta-data
            android:name="CLEVERTAP_ACCOUNT_ID"
            android:value="67Z-877-Z84Z" />
        <meta-data
            android:name="CLEVERTAP_TOKEN"
            android:value="aab-1a6" />
    </application>

</manifest>